body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
}

.block {
  width: 150px;
  height: 400px;
  background-color: black;
  border-radius: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.block + .block {
  margin-left: 40px;
}

.light {
    width: 80px;
    height: 80px;
    background-color: #777;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.light + .light {
    margin-top: 20px;
}

.light-text {
    font-size: 58px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight: 700;
}
