body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .seasons {
    display: flex;
}

.season + .season {
  margin-left: 30px;
}

.season {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  font-size: 36px;
  color: white;
}

#winter {
  background-color: blue;
}

#spring {
  background-color: green;
}

#summer {
  background-color: #c1c10a;
}

#autumn {
  background-color: orange;
}
